body {
    padding: 15px;
}

.well:hover {
    border: 1px solid #808080;
}

.well .counter {
    border-radius: 10px;
    border: 1px solid #808080;
    padding: 0 2px 0 2px;
    background-color: #808080;
    color: white;
}

.well.selected {
    background-color: #1e90ff;
}

.well > span {
    margin-left: 5px;
}

.parameter {
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

.parameter i:first-child {
    margin-top: 2px;
}