<div class="container-fluid" ng-controller="designerController">
    <div class="row">
        <div class="col-md-3 registry-view">
            <h3>Registry</h3>
            <div class="well" ng-repeat="reg in registry" ng-click="selectRegistry(reg)" ng-class="{'selected' : selectedRegistry.id === reg.id}"
                 dnd-draggable dnd-model="reg" dnd-draggable-opts="{ helper: 'clone', handle: '.handle', layer: 'registry'}">
                <i class="fa fa-2x fa-bars handle"></i>
                <i class="fa fa-2x" ng-class="{'fa-folder' : reg.type === 'registry-folder', 'fa-newspaper-o' : reg.type === 'registry-item'}"></i>
                <span>{{reg.name}}</span>
                <span class="counter pull-right" ng-if="reg.type === 'registry-folder' && reg.children">{{reg.children.length}}</span>
            </div>
            <div class="well" ng-click="selectRegistry(dropmodel)"
                 dnd-droppable="true" dnd-model="dropmodel" dnd-droppable-opts="{layer: 'registry'}" dnd-on-drop="dropCallback($dragmodel)"
                 dnd-on-dragover="onDragOver($dropmodel, $dragmodel)">
                <i class="fa fa-2x fa-bars handle"></i>
                <i class="fa fa-2x fa-folder"></i>
                <span>DropHere</span>
                <span class="counter pull-right" ng-if="dropmodel.type === 'registry-folder' && dropmodel.children">{{dropmodel.children.length}}</span>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Parameters</h3>
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="item.name" />
                    <select class="form-control" ng-options="type.name for type in types track by type.id" ng-model="item.type"></select>
                    <button class="btn btn-primary" ng-disabled="!canAdd()" ng-click="add()">Добавить</button>
                </div>
            </div>
            <div class="parameter" ng-repeat="field in selectedRegistry.parameters" dnd-sortable>
                <div class="form-inline">
                    <div class="form-group">
                        <i class="fa fa-2x fa-bars handle"></i>
                        <input type="text" class="form-control" ng-model="field.name" />
                        <select class="form-control" ng-options="type.name for type in types track by type.id" ng-model="field.type"></select>
                        <i class="fa fa-remove" ng-click="removeParam($index)"></i>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-md-3">
            <div class="datasource" dnd-droppable="true" dnd-droppable-opts="{layer: 'registry'}" dnd-on-drop="onAddDataSource($dragmodel)">Drag Here</div>
            <ul>
                <li ng-repeat="source in datasources">
                    <span ng-bind="source.name"></span>
                </li>
            </ul>
        </div>
    </div>
</div>